@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 */
body {
  font-family: "Inter", Helvetica, sans-serif;
}

h1 {
  font-size: 21px;
}
h2 {
  font-size: 14px;
  color: theme("colors.black.400");
}
.box {
  background-color: theme("colors.white.100");
  color: theme("colors.black.100");
  padding: 16px 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media only screen and (min-width: theme("screens.lg")) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 16px;
  }
  .box {
    padding: 24px;
  }
}
